// Variables for colors and fonts
$darkest: #121212;
$next-darkest: #1F1B24;
$next-lightest: #6A1E55;
$lightest: #A64D79;
$primary-color: #ffffff;
$secondary-color: #ffffff;
$background-color: $darkest;
$text-color: #E0E0E0;
$font-family: 'Helvetica', sans-serif;


// Reset some basic styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Body styles
body {
  font-family: $font-family;
  background-color: $background-color;
  justify-content: center;
  display: flex;
  color: $text-color;
  line-height: 1.6;
  padding: 20px;
  margin:0 auto;
}

// Title styles
.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: $next-lightest;
  margin-bottom: 20px;
  text-align: center;
}

// Subtitle styles
.subtitle {
  font-size: 1.5rem;
  font-weight: normal;
  color: $secondary-color;
  margin-bottom: 15px;
  text-align: center;
}

// Section styles
.section {
  width: 80%;
  max-width: 1000px;
  margin: 20px 0;
  padding: 20px;
  background-color: $next-darkest;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 2rem;
    color: $text-color;
  }

  h3 {
    color: $text-color;
  }

  p {
    font-size: 1rem;
    color: $text-color;
    line-height: 1.8;
  }
}
